body {
  font-family: 'Poppins', sans-serif;
  margin: 0;
  padding: 0;
  background-color: #fff;
  color: #333;
  text-align: center;
}

h1 {
  font-size: 32px;
  font-weight: 700;
  color: #000; /* Černý nadpis */
  margin-top: 20px;
}

.map-container {
  position: relative;
  max-width: 800px;
  height: 400px; /* Výška mapy */
  margin: 20px auto;
  border: 2px solid #f7dce0;
  border-radius: 12px;
  background-color: white;
}

#map {
  height: 100%; /* Mapu roztáhneme na celou výšku kontejnru */
  width: 100%;
  border-radius: 12px;
}

.controls {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: center;
  margin-top: 20px;
}

.controls input, .controls button {
  padding: 0.5rem 1rem;
  border: 1px solid #ddd;
  border-radius: 6px;
  font-size: 14px;
}

.controls input {
  border: 1px solid #df1674;
}

.controls button {
  background-color: #df1674;
  color: #fff;
  cursor: pointer;
}

.controls button:hover {
  background-color: #c21465;
}

/* Styl pro průhledný obdélník */
.overlay-text {
  position: absolute;
  top: 10px;
  left: 50%;
  transform: translateX(-50%);
  width: calc(100% - 40px);
  text-align: center;
  background-color: rgba(255, 255, 255, 0.9);
  padding: 10px;
  border-radius: 6px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  z-index: 1000;
}

.overlay-text .title {
  font-size: 20px;
  font-weight: 700;
  color: #df1674;
}

.overlay-text .subtitle {
  font-size: 16px;
  color: #333;
}

/* Zoom tlačítka */
.leaflet-control-zoom {
  left: 20px; /* Posuneme zoomovací tlačítka do levé strany mapy */
  top: 80px; /* Posuneme zoomovací tlačítka dolů */
}

/* Kurzory */
.leaflet-container.crosshair-cursor {
  cursor: crosshair; /* Zaměřovací kurzor */
}

.leaflet-container.default-cursor {
  cursor: default;
}

/* Styl růžového srdce */
.heart-icon {
  color: #df1674;
  font-size: 60px; /* Zvýšení velikosti srdce */
  text-align: center;
}
